<!-- HEADER START -->
<header>
  <div class="top-header">
    <div class="logo">QUNG</div>
    <div class="right-icons">
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="何かお探しですか？" />
      </div>
      <i class="fas fa-user"></i>
      <i class="fas fa-bag-shopping"></i>
      <span class="mobile-menu-toggle" onclick="toggleMenu()"
        ><i class="fas fa-bars"></i
      ></span>
    </div>
  </div>
  <nav class="main-nav" id="mainNav">
    <a href="http://127.0.0.1:5501/New-Arrivals.html">New Arrivals</a>
    <a href="#">Qung Made</a>
    <a href="#">Top CATEGORIES</a>
    <a href="#">Dress</a>
    <a href="#">Outer</a>
    <a href="#">Bottom</a>
    <a href="#">Accessories</a>
    <a href="#">Luxury</a>
  </nav>
</header>
<!-- HEADER END -->
